@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    align-items:  center;

}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.post__btns{
display: flex;

}
.post-enter {
    transform: translateY(150px);
  }
  .post-enter-active {
    transform: translateY(0px);
    transition: all 500ms ease-in;
  }
  .post-exit {
    opacity: 1;
  }
  .post-exit-active {
    transform: translateY(150px);
    transition: all 500ms ease-in;
  }

  .page__wrapper{
    margin-top: 30px;
    display: flex;
  }

  .page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
  }

  .page__current{

    border: 2px solid orange;
    font-weight: bold;
  }

  .navbar{
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
  }
  .navbar__links{
    margin-left: auto;
  }

  .navbar {
    position: relative;
    height: inherit;
    margin: 0 auto;
    font-size: 12.5px;
    background-color: #fff;
    width: 100%;
    height: 48px;
    min-height: 48px;
}

div#root {
    background: #edeef078;
}
.content_wrap button {
    margin: 0 0 0 auto;
    display: block;
}



.container {
    max-width: 1076px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.navbarblock {
    display: flex;
    align-items: center;
}

.postlist {
    padding: 0 !important;
    background: none !important;
}

.postlist > div > div {
    background: #fff;
    border-radius: 12px;
    border: none;
    margin-bottom: 15px !important;
}

.navbar__links > a {
    text-decoration: none;
    font-family: Arial;
    margin: 0;
    font-size: 12.5px;
    display: flex;
    line-height: 1.2;
}

.navbar__links {
    display: flex;
    justify-content: space-between;
}

.navbar__links > a + a {
    margin-left: 35px;
}

.navbarblock_search .mySelectBlock {
    display: none;
}

.navbarblock_logo {
    width: 100px;
}

.navbarblock_logo img {
    display: block;
    width: 100px;
    height: 30px;
}

.navbarblock_search .mySelectBlock {
    display: none;
}

.navbarblock_logo {
    width: 146px;
}

.navbar_nav {
    margin-left: 18px;
    width: 545px;
    display: flex;
    justify-content: flex-start;
}

.navbarblock_search {
    width: 226px;
}

.navbarblock_search input {
    height: 31px;
    background: #ecedf0;
    border: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 242%;
    color: rgba(107, 117, 130, 0.72);
    padding: 0 0 0 16px;
}

div#root {
    background: #ecedf0;
}

.navbarblock_search input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 242%;
    color: rgba(107, 117, 130, 0.72);
}

.navbarblock_search .inputblock {
    background: #ecedf0;
    border: none;
    border-radius: 8px;
    padding: 0 0 0 10px;
    display: flex;
}

.inputblock {}

.navbarblock_search .inputblock img {
    padding: 8px 0;
}

:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}

.navbar__links a {
    font-weight: 400;
    font-size: 14px;
    line-height: 207%;
    color: #333;
}

.navbar__links {
    margin-right: 44px;
}

button.MyButton_myBtn__AmoZz {
    right: 0px;
    position: relative;
}.navbar_login {
    width: 340px;
    text-align: right;
}

.content_wrap {
    padding: 0 !important;
    width: 545px;
}

.App {
    display: flex;
    width: 100%;
}

.app_wrap {
    display: flex;
    margin-top: 13px;
}

.left_sidebar {
    width: 146px;
    margin-right: 18px;
}

.left_sidebar_item {
    background: #fcfcfd;
    border-radius: 12px;
    padding: 11px 14px 18px;
    margin-bottom: 24px;
}

.left_sidebar_item ul {
    list-style: none;
}

.left_sidebar_title {
    font-weight: 500;
    font-size: 14px;
    line-height: 242%;
    color: #2b2b2c;
    font-family: Roboto;
}

.left_sidebar_item ul li a {
    font-weight: 400;
    font-size: 12px;
    line-height: 220%;
    text-decoration: none;
    color: #2b2b2c;
    font-family: Roboto;
}

body {
    font-family: Roboto;
}

.post {
    background: #fcfcfd;
    border-radius: 12px;
    border: none;
    margin-bottom: 24px !important;
    padding: 18px 25px 31px;
    box-sizing: border-box;
    position: relative;
}

.post strong {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    color: #333;
    line-height: 207%;
    display: block;
}

.post__content div {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 142%;
    color: #545454;
}

.post__content div {
    margin-top: 8px;
}

.post__btns.close {
    position: absolute;
    right: 0;
    border: none;
    top: 0px;
    display: none;
}

.post__btns.close button {
    border: none;
    padding: 0px;
    padding-top: 18px;
    padding-right: 17px;
    top: 0px;
}

.post:hover .post__btns.close {
    display: block;
}

.post:hover strong {
    cursor: pointer;
}div#root {
    height: 100%;
    min-height: 100vh;
}

.login_form {
    margin: 18px auto 36px auto;
    border-radius: 12px;
    box-shadow: none;
    padding: 32px 32px;
    background: #fff;
}

.login_form h1 {
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 19px;
}

.login_form form input {
    background: #f0f2f5;
    border: none;
    border-radius: 8px;
    height: 36px;
    border: 1px solid #d3d5d7;
    font-size: 12px;
    color: #757575;
    width: 223px;
    margin: 0;
    margin-bottom: 12px;
}

.login_form button {
    height: 36px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: #4177b5;
    color: #fff;
    font-size: 14px;
}.login_form img {
    width: 41px;
    display: flex;
}

.my-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}.readmore_button {
    cursor: pointer;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 142%;
    color: #074c9b !important;
    margin-top: 13px;
}textarea, input {
    font-family: 'Roboto';
}.notlogin .navbarblock {
    display: flex;
    justify-content: center;
}.notlogin .navbarblock_logo {
    width: 100px;
}.post_page {
    display: flex;
    width: 100%;
}

.post_page_block {
    background: #fff;
    border-radius: 12px 12px 0 0;
    border: none;
    padding: 26px 25px 31px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #ecedf0;
}

.post_page_block h1 {
    line-height: 35px;
    font-size: 26px;
    margin-bottom: 19px;
}

.post_page_content {
    font-size: 16px !important;
    line-height: 26px;
}

.post_page_comments {
    background: #fff;
    border-radius: 0 0 12px 12px;
    border: none;
    padding: 5px 25px 31px;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #ecedf0;
}

.comment {
    border-bottom: 1px solid #ecedf0;
    padding-bottom: 18px;
}

.comment div {
    font-size: 13px;
    margin-top: 7px;
}

.comment h5 {
  /*  text-transform: lowercase;*/
}

.comment:last-child {
    border-bottom: 0;
    padding-bottom: 0px;
}.page__wrapper {
    display: none;
}
.post_page_content img {
    max-width: 100%;
    height: initial;
}

.post_page_content p {
    margin-bottom: 20px;
    font-size: 14px !important;
    line-height: 20px;
}

.post_page_block h1 {
    font-size: 18px;
    line-height: 22px;
}
ul.wp-block-list li {
    margin-left: 20px;
}

ul.wp-block-list li a {
    font-size: 14px;
    color: #000;
}
@media screen and  (min-width: 1076px){
    div#nav {
        display: none;
    }
}
@media screen and (min-width:320px) and (max-width: 767px){

    .navbar {
        padding: 0;
    }
    
    .navbar__links {
        display: none;
    }
    
    .navbar_login {
        display: none;
    }
    
    .container {
        padding: 0 10px;
    }
    
    .left_sidebar {
        width: 100px;
        margin-right: 10px;
    }
    
    .left_sidebar_item {
        padding: 11px 10px 11px;
        margin-bottom: 14px;
    }
    
    .navbarblock_logo img {
        width: 80px;
    }
    
    .left_sidebar_item ul li a {
        font-size: 10px;
    }
    
    .left_sidebar_title {
        font-size: 12px;
    }
    
    .post {
        padding: 15px 15px 21px;
    }
    
    .post strong {
        line-height: 22px;
    }
    
    .MyInput_myInput__-A\+o4 {
        padding: 10px 13px;
    }
    
    .navbarblock_search {
        width: 100%;
        position: relative;
    }
    
    .navbar_nav {
        width: 150px;
        width: calc(100% - 149px);
        max-width: 545px;
    }
    
    .navbarblock_search input {
        width: 100%;
        border-radius: 8px;
        padding-right: 5px;
    }
    
    .navbarblock_search .inputblock {
        max-width: 100%;
        width: 100%;
        position: relative;
    }
    
    .navbarblock {
        display: flex;
        justify-content: space-between;
    }
    
    .navbarblock_logo {
        width: 80px;
    }.popup_menu {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 179px;
        background: #fff;
        padding: 20px;
        height: 100vh;
        box-shadow: 0px 0px 5px 3px #00000017;
        z-index: 4;
    }
    
    .navbar_mob {
        display: flex;
    }
    
    .popup_menu a {
        display: block;
        text-decoration: none;
        color: #333;
        margin: 10px 0;
    }
    
    .popup_menu button {
        margin-top: 30px;
    }
    
    button.MyButton_myBtn__AmoZz {
        font-size: 12px !important;
    }.popup_menu {
        display: none;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 179px;
        background: #fff;
        padding: 20px;
        height: 100vh;
        box-shadow: 0px 0px 5px 3px #00000017;
        z-index: 4;
    }
    
    .navbar_mob {
        display: flex;
    }
    
    .popup_menu a {
        display: block;
        text-decoration: none;
        color: #333;
        margin: 10px 0;
    }
    
    .popup_menu button {
        margin-top: 30px;
    }
    
    button.MyButton_myBtn__AmoZz {
        font-size: 12px !important;
    }
     .popup_menu {
     display:none; 
      /*  animation: notani .5s forwards;*/
    }
    
    .open .popup_menu {
        position: fixed;
      display:block;
        animation: ani .5s forwards;
    }
    
    .nav-btn.close {
        position: absolute;
        top: -10px;
        right: 20px;
    }
    
    
    .nav-btn.close button {
        padding: 0;
        border: none;
    }
    
    @keyframes notani {
        0% {opacity: 1; transform: translateX(0%);display:none; }
        100% {opacity: 0; transform: translateX(150%);display:none; }
      }
    @keyframes ani {
        0% {opacity: 0; transform: translateX(150%); }
        100% {opacity: 1; transform: translateX(0); }
      }
}